body{
	background-color: rgb(80,80,80);
}
#reload{
	display: block;
	width: 85%;
	margin-top: 1%;
	margin-left: 10%;
}
#close{
	display: block;
	width: 85%;
	margin-left: 10%;
	margin-top: 380%;
}
#loupe{
	position: absolute;
	width: 18%;
	margin-left: 49%;
}
#day{
	width: 30%;
	display: inline-block;
}
#cluster{
	width: 98%;
	padding: 1%;
}
.center{
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 9%;
	display: block;
}

#wall_back {
	background-image: url("./resources/brick.jpg");
	background-size: 26.5%;
	background-clip: padding-box;
	padding-right: 50%;
	padding-bottom: 58%;
}
#wall{
	width: 86%;
	padding: 7%;
}
.box{
	background-color: rgb(144,144,144);
	box-shadow: 10px 10px 7px black;
	border-radius: 10px;
}
.header {
	margin: 20px auto 20px auto;
	max-width: 1420px;
	position: relative;
	padding: 12px;
}
.left_mid{
	display: inline-block;
	width: 7.5%;
	margin-left: 13%;
	margin-bottom: 8.23%;
}
.mid_mid{
	display: inline-block;
	width: 55%;
	margin-left: 1.5%;
	z-index: 2;
}
.right_mid{
	display: inline-block;
	width: 7.5%;
	margin-left: 1.5%;
	margin-bottom: 8.23%;
	z-index: 1;
}
.search_form{
	position: relative;
	background-color: rgb(168,251,150);
	box-shadow: 10px 10px 7px black;
	border-radius: 10px;
	width: 35%;
	padding: 1%;
	z-index: 2;
	margin-top: -5%;
	margin-left: 5%;
}
a:hover{
	border: 1px solid red;
}